services:
  db:
    container_name: forum-db-postgres
    image: postgres:latest
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: forum
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - 5432:5432
  core:
    container_name: forum-core
    restart: always
    build:
      context: .
      dockerfile: ./core.dockerfile
    depends_on:
      - db
    ports:
      - 8080:8080 #provide the host ip from one of interfaces, or it will be localhost. e.g.: 26.26.26.26:8080:8080
  tests:
    container_name: forum-tests
    build:
      context: .
      dockerfile: ./tests.dockerfile
    depends_on:
      - core


volumes:
  postgres-data:
